@fontfaceURLOpenS:fonts/openSans/;

@font-face{
    font-family:LeagueGothic;
    src:url(fonts/League_Gothic.otf);
    font-style:normal;
}
@font-face{
    font-family:OpenSans;
    src: url('fonts/openSans/OpenSans-Light-webfont.eot'); /* IE9 Compat Modes */
	src: url('fonts/openSans/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('fonts/openSans/OpenSans-Light-webfont.woff') format('woff'), /* Modern Browsers */
	     url('fonts/openSans/OpenSans-Light-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
	     url('fonts/openSans/OpenSans-Light-webfont.svg') format('svg');
}

@mainWidth:960px;
@mainColorWhite:#fff;
@mainColorDarkBerry:#322539;
@mainColorBlueBerry:#745083;
@mainColorPink:#edbfff;
@aReadMoreSize:18px;
@bottomContentWrapCollorGrey:#f9f9f9;
@bottomContentFontColor:#454545;
@bottomContentBorderColor:#e6e6e6;

@headerHeight:200px;

@sliderHeight:350px;

@blurbHeight:350px;

.gradient(@color1, @color2){
    background: @color1;
    background: -moz-linear-gradient(top, @color1 0%, @color2 100%); 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, @color1), color-stop(100%,@color2));
    background: -webkit-linear-gradient(top, @color1 0%, @color2 100%);
    background: -o-linear-gradient(top, @color1 0%, @color2 100%);
    background: -ms-linear-gradient(top, @color1 0%, @color2 100%);
    background: linear-gradient(to bottom, @color1 0%, @color2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@color1', endColorstr='@color2',GradientType=0 );
}

.centeredElement(@width){
    width:@width;
    margin:0 auto;
}

.text-shadow(@offsetX:2px, @offsetY:2px, @blur:5px, @color:#808080){    
    -webkit-text-shadow: @offsetX @offsetY @blur @color; 
    text-shadow: @offsetX @offsetY @blur @color; 
}

.box-shadow(@offsetX, @offsetY, @blur, @spread, @color){    
    -moz-box-shadow:    @offsetX @offsetY @blur @spread @color;
    -webkit-box-shadow: @offsetX @offsetY @blur @spread @color;
    box-shadow:         @offsetX @offsetY @blur @spread @color;
}

* {
   margin:0;
   padding:0;
   border:0;
}
body{
    background: url("img/bg.png") no-repeat;
    font-family:LeagueGothic, Helvetica, Arial, sans-serif;
    font-size:24px;
    font-weight:100;
    color:@mainColorWhite;
}
h2{
    font-size:50px;
}
h3{
   color:@mainColorPink;
}
h4{
    font-size:30px;
    text-transform:uppercase;
}
h5{
    font-size:16px;
    font-family:OpenSans,'Times New Roman',sans-serif;
}
p{
    font-family:OpenSans;
    font-size:16px;
    line-height:24px;
}
a{
    display: inline-block;
    color: #fff;
    text-decoration: none;
    text-transform:uppercase;
}

header {
    .centeredElement(@mainWidth);
    height: @headerHeight;
    .text-shadow();

    span {
        .gradient(@mainColorBlueBerry,#000);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent; 
    }
    a {        
        margin: 0 16px;
        padding:0 5px;

        &:hover{
            border-bottom:2px solid @mainColorPink;
        }
        &:last-child{
            margin-right:0;
        }
    }
    nav {
        float: right;
        margin-top:60px;
    }
}
#logo{
    display:inline-block;
    float:left;
}

.wrap,.sliderWrap, .blurbWrap,.bottom_contentWrap,.logosWrap,.wrapFooter{
    width:100%;
}
.sliderWrap{
    margin:0 0 140px 0;    
    background:rgba(0,0,0,0.2);
}
.wrapFooter{
    background:url("img/footerbg.png") no-repeat;
}
#sliderContainer, #blurbsContainer, #bottom_contentContainer,#logosContainer,#topFooterContainer{    
    .centeredElement(@mainWidth);
}
#sliderContainer{
    height:@sliderHeight;
    .text-shadow(0,2px,3px,#000);
    img{
        position:relative;
        float:right;
        top:-20px;
        margin:0 60px 0 0;
    }
}
.sliderNavigation{
    position:relative;
    display:inline-block;
    width:@mainWidth/2;
    margin:60px 0 0 0;
    p{
        font-size:18px;
    }
}
.blurbWrap{
    .gradient(@mainColorBlueBerry,@mainColorDarkBerry);
    border-top:1px solid @mainColorDarkBerry;
}
#blurbsContainer{
    height:@blurbHeight;
    .text-shadow(0,2px,3px,#000);
    .box-shadow(0,3,5px,-10,#000);
}
.blurb{
    position:relative;
    display:inline-block;
    margin:70px 0 0 0;
    width:@mainWidth/3-10;
    height:200px;
    .blurbText{
        position:relative;
        float:right;
        width:230px;
    }
    img{
        display:inline-block;
        float:left;
        margin:7px 0 0 28px;
    }
    p{
        margin:10px 0 0 0;
    }
    a{
        float:right;
        margin:20px 0 0 0;
        font-size:@aReadMoreSize;
        &:hover{
            .text-shadow(0,0,10px,#fff);
        }
    }
}
#bottom_contentContainer {
    height:500px;
}
.bottom_contentWrap, .logosWrap{
    background:@bottomContentWrapCollorGrey;
    color:@bottomContentFontColor;
    border-bottom:1px solid @bottomContentBorderColor;
}
.testmonial, .recentUpdates{
    width:@mainWidth/2-5;
    position:relative;
    display:inline-block;
}
.testmonial{
    padding-top:100px;
    float:left;
    img{
        position:relative;
        left:9px;
        top:25px;
        float:left;
        z-index:1;
    }
}
.bottomContentText{
    position:relative;
    width:320px;
    background:#fff;
    margin:0 30px;
    padding:30px;
    a{
        color: @mainColorPink;      
        margin:0 0 0 5px;  
        font-size:30px;
    }
    h4{
        display:inline-block;
    }
    p{
        margin:5px 0 0 0;
    }
}
.recentUpdates{
    padding-top:130px;
    float:right;
    ul{
        list-style-type:none;
        img{
            float:left;
            margin:0 25px 0 0;
        }
        li{
            margin:20px 0;
        }
    }
    a{
        float:right;
        color:@bottomContentFontColor;
        font-size:@aReadMoreSize;
    }
}
#logosContainer{
    text-align:center;
    img{
        margin:20px;
    }
}
.wrap{
    background:#ececec;
    color:@bottomContentFontColor;
}
#topFooterContainer {
    position:relative;
    height:370px;
    .post {
        width: @mainWidth/3-20px;
        float: left;
        margin:50px 0 0 0;
        padding:10px;
    }
    a, h3{
        color:@bottomContentFontColor;
        text-transform:uppercase;
    }
    a{        
        font-size:30px;
        margin:5px 0;
    }
    h3{
        font-size:50px;
    }
    span{
        color:#b9b9b9;        
    }
    p{
        padding:10px 0;
    }
    .post:first-child p:first-of-type{
        font-style:italic;
        color:#c5c5c5;
        padding-bottom:0;
        .text-shadow(1px,1px,2px,#fff);
    }
}
footer{
    position:relative;
    .centeredElement(@mainWidth);
    .text-shadow();
    menu{
        padding:40px 0;
        float:left;
        height:23px;
        a{
            margin:0 16px;
            font-size:22px;
            &:first-of-type{
                margin-left:0px;
            }
        }

    }
    p{
        padding:38px 0;
        float:right;
        font-size:12px;
        a{
            text-transform:none;
            font-weight:bold;
        }
    }
}
