@font-face {
  font-family: LeagueGothic;
  src: url(fonts/League_Gothic.otf);
}
* {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  background: url(img/bg.png) no-repeat;
  font-family: LeagueGothic, Helvetica, Arial, sans-serif;
  font-size: 24pt;
  color: #ffffff;
}
header {
  width: 960px;
  margin: 0 auto;
  height: 100px;
  -webkit-text-shadow: 2px 2px 7px #000000;
  text-shadow: 2px 2px 7px #000000;
}
header span {
  background: -webkit-linear-gradient(#745083, #333333);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
header a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0 10px;
}
header a:hover {
  border-bottom: 2px solid #edbfff;
}
header nav {
  float: right;
  margin-top: 40px;
}
#logo {
  display: inline-block;
  float: left;
}
#main_content {
  width: 960px;
  margin: 0 auto;
}