@font-face {
  font-family: LeagueGothic;
  src: url(fonts/leagueGothic/league_gothic-webfont.eot);
  src: url(fonts/leagueGothic/league_gothic-webfont.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */
   url(fonts/leagueGothic/league_gothic-webfont.woff) format('woff'), /* Modern Browsers */
   url(fonts/leagueGothic/league_gothic-webfont.ttf) format('truetype'), /* Safari, Android, iOS */
   url(fonts/leagueGothic/league_gothic-webfont.svg) format('svg');
  font-weight: normal;
  font-style: normal;/* IE9 Compat Modes */
}
@font-face {
  font-family: 'OpenSans';
  src: url(fonts/openSans/OpenSans-Light-webfont.eot);
  src: url(fonts/openSans/OpenSans-Light-webfont.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */
   url(fonts/openSans/OpenSans-Light-webfont.woff) format('woff'), /* Modern Browsers */
   url(fonts/openSans/OpenSans-Light-webfont.ttf) format('truetype'), /* Safari, Android, iOS */
   url(fonts/openSans/OpenSans-Light-webfont.svg) format('svg');
  font-weight: normal;
  font-style: normal;/* IE9 Compat Modes */
}
* {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  background: url(img/bg.png) no-repeat;
  font-family: LeagueGothic, Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: normal;
  color: #ffffff;
}
h2 {
  font-size: 50px;
}
h3 {
  font-size: 28px;
  color: #edbfff;
}
h4 {
  font-size: 30px;
  text-transform: uppercase;
}
h5 {
  font-size: 16px;
  font-family: OpenSans, 'Times New Roman', sans-serif;
}
p {
  font-family: OpenSans;
  font-size: 16px;
  line-height: 24px;
}
a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}
header {
  width: 960px;
  margin: 0 auto;
  height: 200px;
  -webkit-text-shadow: 2px 2px 5px #808080;
  text-shadow: 2px 2px 5px #808080;
}
header h1 {
  font-size: 50px;
  text-transform: uppercase;
}
header span {
  background: #745083;
  background: -moz-linear-gradient(top, #745083 0%, #000000 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #745083), color-stop(100%, #000000));
  background: -webkit-linear-gradient(top, #745083 0%, #000000 100%);
  background: -o-linear-gradient(top, #745083 0%, #000000 100%);
  background: -ms-linear-gradient(top, #745083 0%, #000000 100%);
  background: linear-gradient(to bottom, #745083 0%, #000000 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@color1', endColorstr='@color2', GradientType=0);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
header a {
  margin: 0 16px;
  padding: 0 5px;
}
header a:hover {
  border-bottom: 2px solid #edbfff;
}
header a:last-child {
  margin-right: 0;
}
header a.active {
  border-bottom: 2px solid #edbfff;
}
header nav {
  float: right;
  margin-top: 60px;
}
#logo {
  display: inline-block;
  float: left;
  margin: 40px 0;
}
.wrap,
.sliderWrap,
.blurbWrap,
.bottom_contentWrap,
.logosWrap,
.wrapFooter {
  width: 100%;
}
.sliderWrap {
  margin: 0 0 140px 0;
  background: rgba(0, 0, 0, 0.2);
}
.wrapFooter {
  background: url(img/footerbg.png) no-repeat;
  width: 100%;
}
#sliderContainer,
#blurbsContainer,
#bottom_contentContainer,
#logosContainer,
#topFooterContainer {
  width: 960px;
  margin: 0 auto;
}
#sliderContainer {
  height: 350px;
  -webkit-text-shadow: 0 2px 3px #000000;
  text-shadow: 0 2px 3px #000000;
}
#sliderContainer img {
  position: relative;
  float: right;
  top: -20px;
  margin: 0 60px 0 0;
}
.sliderNavigation {
  position: relative;
  display: inline-block;
  width: 480px;
  margin: 60px 0 0 0;
}
.sliderNavigation p {
  font-size: 18px;
}
.blurbWrap {
  background: #745083;
  background: -moz-linear-gradient(top, #745083 0%, #322539 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #745083), color-stop(100%, #322539));
  background: -webkit-linear-gradient(top, #745083 0%, #322539 100%);
  background: -o-linear-gradient(top, #745083 0%, #322539 100%);
  background: -ms-linear-gradient(top, #745083 0%, #322539 100%);
  background: linear-gradient(to bottom, #745083 0%, #322539 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@color1', endColorstr='@color2', GradientType=0);
  border-top: 1px solid #322539;
  border-bottom: 1px solid #fff;
}
#blurbsContainer {
  height: 350px;
  -webkit-text-shadow: 0 2px 3px #000000;
  text-shadow: 0 2px 3px #000000;
  z-index: 100;
}
.blurb {
  position: relative;
  display: inline-block;
  margin: 70px 0 0 0;
  width: 310px;
  height: 200px;
}
.blurb .blurbText {
  position: relative;
  float: right;
  width: 230px;
}
.blurb img {
  display: inline-block;
  float: left;
  margin: 7px 0 0 28px;
}
.blurb p {
  margin: 10px 0 0 0;
}
.blurb a {
  float: right;
  margin: 20px 0 0 0;
  font-size: 18px;
}
.blurb a:hover {
  -webkit-text-shadow: 0 0 10px #ffffff;
  text-shadow: 0 0 10px #ffffff;
}
#bottom_contentContainer {
  height: 500px;
  z-index: -20;
  -moz-box-shadow: 0px 50px 40px -60px #000000 inset;
  -webkit-box-shadow: 0px 50px 40px -60px #000000 inset;
  box-shadow: 0px 50px 40px -60px #000000 inset;
}
.bottom_contentWrap,
.logosWrap {
  background: #f9f9f9;
  color: #454545;
  border-bottom: 1px solid #e6e6e6;
}
.testmonial,
.recentUpdates {
  width: 475px;
  position: relative;
  display: inline-block;
}
.testmonial {
  padding-top: 100px;
  float: left;
}
.testmonial img {
  position: relative;
  left: 9px;
  top: 25px;
  float: left;
  z-index: 1;
}
.bottomContentText {
  position: relative;
  width: 320px;
  background: #fff;
  margin: 0 30px;
  padding: 30px;
}
.bottomContentText a {
  color: #edbfff;
  margin: 0 0 0 5px;
  font-size: 30px;
}
.bottomContentText h4 {
  display: inline-block;
}
.bottomContentText p {
  margin: 5px 0 0 0;
}
.recentUpdates {
  padding-top: 130px;
  float: right;
}
.recentUpdates ul {
  list-style-type: none;
}
.recentUpdates ul img {
  float: left;
  margin: 0 25px 0 0;
}
.recentUpdates ul li {
  margin: 20px 0;
}
.recentUpdates a {
  float: right;
  color: #454545;
  font-size: 18px;
}
#logosContainer {
  text-align: center;
}
#logosContainer img {
  margin: 20px;
}
.wrap {
  background: #ececec;
  color: #454545;
}
#topFooterContainer {
  position: relative;
  height: 370px;
}
#topFooterContainer .post {
  width: 300px;
  float: left;
  margin: 50px 0 0 0;
  padding: 10px;
}
#topFooterContainer a,
#topFooterContainer h3 {
  color: #454545;
  text-transform: uppercase;
}
#topFooterContainer a {
  font-size: 30px;
  margin: 5px 0;
}
#topFooterContainer h3 {
  font-size: 50px;
}
#topFooterContainer span {
  color: #b9b9b9;
}
#topFooterContainer p {
  padding: 10px 0;
}
#topFooterContainer .post:first-child p:first-of-type {
  font-style: italic;
  color: #c5c5c5;
  padding-bottom: 0;
  -webkit-text-shadow: 1px 1px 2px #ffffff;
  text-shadow: 1px 1px 2px #ffffff;
}
footer {
  position: relative;
  width: 960px;
  margin: 0 auto;
  -webkit-text-shadow: 2px 2px 5px #808080;
  text-shadow: 2px 2px 5px #808080;
}
footer menu {
  padding: 40px 0;
  float: left;
  height: 23px;
}
footer menu a {
  margin: 0 16px;
  font-size: 22px;
}
footer menu a:first-of-type {
  margin-left: 0px;
}
footer p {
  padding: 38px 0;
  float: right;
  font-size: 12px;
}
footer p a {
  text-transform: none;
  font-weight: bold;
}
@media only screen and (max-width: 960px) and (min-width: 768px) {
  header,
  footer,
  #sliderContainer,
  #blurbsContainer,
  #bottom_contentContainer,
  #logosContainer,
  #topFooterContainer {
    width: 768px;
    margin: 0 auto;
  }
  h1,
  h2 {
    font-size: 40px;
  }
  h3 {
    font-size: 22px;
    overflow: hidden;
    white-space: nowrap;
  }
  h4 {
    font-size: 24px;
  }
  p {
    font-size: 16px;
    line-height: 24px;
    overflow: hidden;
  }
  h1,
  #logo {
    float: none;
  }
  header nav {
    float: none;
    margin-top: 20px;
  }
  header a:first-child {
    margin-left: 0px;
    padding-left: 0px;
  }
  #logo {
    margin: 40px 0 0 0;
  }
  .sliderNavigation {
    width: 280px;
  }
  .sliderNavigation p {
    height: 100px;
    overflow: hidden;
    font-size: 15px;
  }
  .blurb {
    width: 246px;
  }
  .blurb .blurbText {
    width: 160px;
  }
  .blurb .blurbText a,
  .blurb .blurbText p {
    margin: 0;
  }
  .blurb .blurbText p {
    height: 150px;
  }
  .testmonial,
  .recentUpdates {
    width: 374px;
  }
  .bottomContentText {
    width: 200px;
  }
  .bottomContentText h4 {
    display: block;
    font-size: 24px;
  }
  .bottomContentText a {
    font-size: 24px;
    margin: 0;
  }
  .bottomContentText p {
    height: 150px;
  }
  .recentUpdates p {
    width: 255px;
    white-space: nowrap;
  }
  #topFooterContainer .post {
    width: 236px;
  }
  #topFooterContainer .post:first-child p:first-of-type {
    display: none;
  }
  #topFooterContainer p {
    width: 190px;
    height: 154px;
  }
  .wrapFooter {
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  footer menu {
    float: none;
  }
}
@media only screen and (max-width: 768px) and (min-width: 460px) {
  header,
  footer,
  #sliderContainer,
  #blurbsContainer,
  #bottom_contentContainer,
  #logosContainer,
  #topFooterContainer {
    width: 460px;
    margin: 0 auto;
  }
  h1 {
    font-size: 40px;
    text-align: center;
  }
  h2 {
    font-size: 40px;
    z-index: -8;
  }
  h3 {
    font-size: 18px;
    overflow: hidden;
    white-space: nowrap;
  }
  h4 {
    font-size: 24px;
  }
  p {
    font-size: 16px;
    line-height: 24px;
    overflow: hidden;
  }
  header nav {
    margin-top: 0;
    float: none;
    text-align: center;
    display: block;
    width: 300px;
    margin: 0 auto;
    background: rgba(50, 37, 57, 0.8);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border-top: 1px solid rgba(237, 191, 255, 0.63);
    border-bottom: 2px solid #322539;
    position: relative;
    z-index: 200;
  }
  header nav:hover a:not(:first-child) {
    display: block;
    line-height: 40px;
    border-top: 1px solid rgba(237, 191, 255, 0.5);
    border-bottom: 2px solid #322539;
  }
  header nav:hover a:hover {
    background: rgba(50, 37, 57, 0.8);
  }
  header nav a {
    display: block;
    line-height: 40px;
    border-top: 1px solid rgba(237, 191, 255, 0.5);
    border-bottom: 2px solid #322539;
    margin: 0;
    padding: 0;
  }
  header nav a:not(:first-child) {
    display: none;
  }
  header nav a:hover {
    background: rgba(50, 37, 57, 0.8);
  }
  header nav a:first-child {
    border-top: none;
  }
  #logo {
    float: none;
    width: auto;
    display: block;
    margin-bottom: 0px;
  }
  .sliderWrap {
    z-index: -11;
  }
  .sliderNavigation {
    width: 240px;
    margin-top: 90px;
  }
  .sliderNavigation p {
    display: none;
  }
  #sliderContainer {
    height: 270px;
    z-index: -10;
  }
  #sliderContainer img {
    width: 200px;
    margin: 0;
    z-index: -9;
  }
  #blurbsContainer {
    height: 600px;
  }
  .blurb {
    width: 460px;
    float: none;
    height: auto;
    margin: 50px 0 0 0;
  }
  .blurb .blurbText {
    width: 390px;
  }
  .blurb .blurbText a,
  .blurb .blurbText p {
    margin: 0;
  }
  .blurb .blurbText p {
    margin: 0 0 5px 0;
  }
  #bottom_contentContainer {
    height: 700px;
  }
  .recentUpdates,
  .testmonial {
    padding-top: 20px;
  }
  .recentUpdates {
    float: none;
    width: 380px;
    margin-left: 60px;
  }
  .recentUpdates p {
    overflow: hidden;
    white-space: nowrap;
    width: 255px;
  }
  #topFooterContainer {
    height: 850px;
  }
  #topFooterContainer .post {
    width: 460px;
    margin-top: 50px;
  }
  footer {
    text-align: center;
  }
  footer p {
    float: none;
  }
  footer menu {
    float: none;
  }
  footer menu a {
    margin: 0 8px;
  }
}
@media only screen and (max-width: 460px) and (min-width: 320px) {
  h1 {
    font-size: 40px;
    text-align: center;
  }
  h2 {
    font-size: 40px;
    z-index: 100;
  }
  h3 {
    font-size: 18px;
    overflow: hidden;
    white-space: nowrap;
  }
  h4 {
    font-size: 24px;
  }
  p {
    font-size: 16px;
    line-height: 24px;
    overflow: hidden;
  }
  header,
  footer,
  #sliderContainer,
  #blurbsContainer,
  #bottom_contentContainer,
  #logosContainer,
  #topFooterContainer {
    width: 320px;
    margin: 0 auto;
  }
  header nav {
    float: none;
    text-align: center;
    margin-top: 0px;
  }
  header nav a:not(:first-child) {
    display: none;
  }
  #logo {
    float: none;
    width: auto;
    display: block;
  }
  #sliderContainer {
    height: 250px;
    text-align: center;
  }
  #sliderContainer img,
  #sliderContainer p {
    display: none;
  }
  .sliderNavigation {
    width: 320px;
    margin-top: 90px;
  }
  #blurbsContainer {
    height: 700px;
  }
  .blurb {
    width: 320px;
    float: none;
    height: auto;
    margin: 50px 0 0 0;
  }
  .blurb .blurbText {
    width: 250px;
  }
  .blurb .blurbText a,
  .blurb .blurbText p {
    margin: 0;
  }
  .blurb .blurbText p {
    margin: 0 0 5px 0;
    height: 100px;
  }
  #bottom_contentContainer {
    height: 700px;
  }
  .bottomContentText {
    width: auto;
  }
  .bottomContentText p {
    overflow: hidden;
    height: 200px;
  }
  .recentUpdates,
  .testmonial {
    padding-top: 20px;
  }
  .recentUpdates {
    float: none;
    width: 320px;
    margin-left: 30px;
  }
  .recentUpdates p,
  .recentUpdates h5 {
    overflow: hidden;
    white-space: nowrap;
    width: 215px;
  }
  .testmonial {
    width: 320px;
  }
  #topFooterContainer {
    display: none;
  }
  footer {
    text-align: center;
    height: 150px;
  }
  footer p {
    float: none;
  }
  footer menu {
    display: none;
  }
}