@font-face {
  font-family: LeagueGothic;
  src: url(fonts/League_Gothic.otf);
  font-style: normal;
}
@font-face {
  font-family: OpenSans;
  src: url(fonts/openSans/OpenSans-Light-webfont.eot);
  src: url(fonts/openSans/OpenSans-Light-webfont.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */
   url(fonts/openSans/OpenSans-Light-webfont.woff) format('woff'), /* Modern Browsers */
   url(fonts/openSans/OpenSans-Light-webfont.ttf) format('truetype'), /* Safari, Android, iOS */
   url(fonts/openSans/OpenSans-Light-webfont.svg) format('svg');/* IE9 Compat Modes */
}
* {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  background: url(img/bg.png) no-repeat;
  font-family: LeagueGothic, Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: 100;
  color: #ffffff;
}
h2,
h3 {
  -webkit-text-shadow: 0 2px 3px #000000;
  text-shadow: 0 2px 3px #000000;
}
h2 {
  font-size: 50px;
}
h3 {
  color: #edbfff;
}
p {
  font-family: OpenSans;
  font-size: 18px;
}
header {
  width: 960px;
  margin: 0 auto;
  height: 200px;
  -webkit-text-shadow: 2px 2px 5px #808080;
  text-shadow: 2px 2px 5px #808080;
}
header span {
  background: #745083;
  background: -moz-linear-gradient(top, #745083 0%, #000000 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #745083), color-stop(100%, #000000));
  background: -webkit-linear-gradient(top, #745083 0%, #000000 100%);
  background: -o-linear-gradient(top, #745083 0%, #000000 100%);
  background: -ms-linear-gradient(top, #745083 0%, #000000 100%);
  background: linear-gradient(to bottom, #745083 0%, #000000 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@color1', endColorstr='@color2', GradientType=0);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
header a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0 16px;
  padding: 0 5px;
}
header a:hover {
  border-bottom: 2px solid #edbfff;
}
header a:last-child {
  margin-right: 0;
}
header nav {
  float: right;
  margin-top: 60px;
}
#logo {
  display: inline-block;
  float: left;
}
#slider {
  width: 960px;
  margin: 0 auto;
  height: 350px;
}
.sliderWrap {
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
}
.sliderNavigation {
  position: relative;
  display: inline-block;
  width: 480px;
  margin: 60px 0 0 0;
}